<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisarPratoController</servlet-name>
        <servlet-class>controller.PesquisarPratoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisarFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarComandaController</servlet-name>
        <servlet-class>controller.PesquisarComandaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEstabelecimentoController</servlet-name>
        <servlet-class>controller.PesquisarEstabelecimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUsuarioController</servlet-name>
        <servlet-class>controller.PesquisarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterComandaController</servlet-name>
        <servlet-class>controller.ManterComandaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEstabelecimentoController</servlet-name>
        <servlet-class>controller.ManterEstabelecimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPratoController</servlet-name>
        <servlet-class>controller.ManterPratoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPedidoController</servlet-name>
        <servlet-class>controller.ManterPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarPedidoController</servlet-name>
        <servlet-class>controller.PesquisarPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterUsuarioController</servlet-name>
        <servlet-class>controller.ManterUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarProprietarioController</servlet-name>
        <servlet-class>controller.PesquisarProprietarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProprietarioController</servlet-name>
        <servlet-class>controller.ManterProprietarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncaoController</servlet-name>
        <servlet-class>controller.ManterFuncaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarFuncaoController</servlet-name>
        <servlet-class>controller.PesquisarFuncaoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioUsuariosController</servlet-name>
        <servlet-class>relatorio.RelatorioUsuariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioController</servlet-name>
        <servlet-class>relatorio.RelatorioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEstabelecimentoPUsuarioController</servlet-name>
        <servlet-class>controller.ListaEstabelecimentoPUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFuncionariosPEstabelecimentoController</servlet-name>
        <servlet-class>controller.ListaFuncionariosPEstabelecimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFuncionariosController</servlet-name>
        <servlet-class>controller.ListaFuncionariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPedidoPUsuarioController</servlet-name>
        <servlet-class>controller.ListaPedidoPUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPratosPEstabelecimentoController</servlet-name>
        <servlet-class>controller.ListaPratosPEstabelecimentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisarPratoController</servlet-name>
        <url-pattern>/PesquisarPratoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarFuncionarioController</servlet-name>
        <url-pattern>/PesquisarFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarComandaController</servlet-name>
        <url-pattern>/PesquisarComandaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEstabelecimentoController</servlet-name>
        <url-pattern>/PesquisarEstabelecimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUsuarioController</servlet-name>
        <url-pattern>/PesquisarUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterComandaController</servlet-name>
        <url-pattern>/ManterComandaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEstabelecimentoController</servlet-name>
        <url-pattern>/ManterEstabelecimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPratoController</servlet-name>
        <url-pattern>/ManterPratoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPedidoController</servlet-name>
        <url-pattern>/ManterPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarPedidoController</servlet-name>
        <url-pattern>/PesquisarPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterUsuarioController</servlet-name>
        <url-pattern>/ManterUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarProprietarioController</servlet-name>
        <url-pattern>/PesquisarProprietarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProprietarioController</servlet-name>
        <url-pattern>/ManterProprietarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncaoController</servlet-name>
        <url-pattern>/ManterFuncaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarFuncaoController</servlet-name>
        <url-pattern>/PesquisarFuncaoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioUsuariosController</servlet-name>
        <url-pattern>/RelatorioUsuariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioController</servlet-name>
        <url-pattern>/RelatorioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEstabelecimentoPUsuarioController</servlet-name>
        <url-pattern>/ListaEstabelecimentoPUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFuncionariosPEstabelecimentoController</servlet-name>
        <url-pattern>/ListaFuncionariosPEstabelecimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFuncionariosController</servlet-name>
        <url-pattern>/ListaFuncionariosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPedidoPUsuarioController</servlet-name>
        <url-pattern>/ListaPedidoPUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPratosPEstabelecimentoController</servlet-name>
        <url-pattern>/ListaPratosPEstabelecimentoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/TratamentoExcecao</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/TratamentoExcecao</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/TratamentoExcecao</location>
    </error-page>
</web-app>
