<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-east-02.cleardb.com:3306/heroku_7a4577ab47d8311</property>
    <property name="hibernate.connection.username">bca155c03404d0</property>
    <property name="hibernate.connection.password">e9df31ce</property>
  </session-factory>
</hibernate-configuration>
