/* 
    Created on : 19/11/2019, 08:55:29
    Author     : Aaron
*/

@import "breadcrumb.css";
@import "../vendor/fontawesome/css/all.min.css";

$dark: #2d2d2d;
$light: #efefef;

.cards {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}

.card {
  margin-bottom: 0.8vh;
  .opcoes {
    display: inline-flex;
    justify-content: space-evenly;
    .opcao {
        color: $dark;
        a {
          text-decoration: none !important;
        }
    }
    .opcao:hover {
      background: $light;
    }
  }
}

.card-subtitle-2 {
  text-align: center;
  color: white;
  background: $dark;
}

.card-footer {
    bottom: 0;
    left: 0;
  span {
    font-size: smaller;
  }
}

.editar {
  color: $dark;
}

